[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
elasticsearch = "*"
requests = "*"
lxml = "*"
openpyxl = "*"
aiohttp = "*"
aiodns = "*"

[requires]
python_version = "3.6"
